table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

table th {
    padding: 4px;
    background-color: #c8c8c8;
}

table td {
    padding: 4px;
}

table.bordered {
    border-collapse: collapse;
    border: 1px solid black;
}

table.bordered th {
    border: 1px solid black;
}

table.bordered td {
    border: 1px solid black;
}

.numericInput {
    width: 60px;
}

input.date {
    width: 100px;
}