.userfinder{
    margin-left: 10px;
    display: none;
}

.request{
    background: lightgray;
    width: 500px;
}

.deviceSearchForm{
    display: none;
}

.adddevice{
    display: none;
    background: lightgray;
    margin-left: 800px;
    width: 400px;
}

.error{
    color: red;
}

.menu{
    width: 200px;
    float: left;
    border: 1px solid black;
    margin-right: 10px;
}

.requestList{
    float: left;
    width: 500px;
}

.orderwrapper{
    margin-left: 250px;
}

.order{
    background-color: #c8c8c8;
    margin-left: 250px;
    width: 500px;
}