Tööd:<br>
<table class="bordered">
    <tr>
        <th>Seade</th>
        <th>Loodud</th>
        <th>Kirjeldus</th>
        <th>Teenus</th>
        <th>Kogus</th>
        <th>Ühik</th>
        <th>Ühiku hind</th>
        <th>Hind kokku</th>
        <th>Staatus</th>
        <th ng-show="orderStatusInServer < 3"></th>
    </tr>
    <tr ng-show="orderStatusInServer < 3" ng-repeat-start="action in order.actions | orderBy:'id'">
        <td><select data-ng-options="serviceDevice.device.device as serviceDevice.device.name
        for serviceDevice in order.serviceDevices"
                    ng-model="action.device.device"></select></td>
        <td>{{getEmployeeName(action.created_by)}}<br>
            {{action.created | date:'dd.MM.yyyy kell HH.mm.ss'}}</td>
        <td><input ng-model="action.action_description"/></td>
        <td><select data-ng-options="type.id as type.type_name for type in actionTypeList"
                    ng-change="actionTypeUpdated(action)"
                    ng-model="action.selectedTypeId"></select></td>
        <td><input class="numericInput" type="number" ng-model="action.service_amount"/></td>
        <td>{{ action.type.unit.type_name }}</td>
        <td><input class="numericInput" type="number" ng-model="action.price"/></td>
        <td>{{ action.service_amount * action.price }}</td>
        <td><select data-ng-options="status.id as status.type_name for status in actionStatusList"
                    ng-model="action.status.id"></select></td>
        <td><button ng-click="deleteAction($index)">Kustuta</button></td>
    </tr>
    <tr ng-show="orderStatusInServer >= 3"  ng-repeat-end>
        <td>{{ action.device.name }}</td>
        <td>{{getEmployeeName(action.created_by)}}<br>
            {{action.created | date:'dd.MM.yyyy kell HH.mm.ss'}}</td>
        <td>{{ action.action_description }}</td>
        <td>{{ action.type.type_name }}</td>
        <td>{{ action.service_amount }}</td>
        <td>{{ action.type.unit.type_name }}</td>
        <td>{{ action.price }}</td>
        <td>{{ action.service_amount * action.price }}</td>
        <td>{{ action.status.type_name }}</td>
    </tr>
</table>
<button ng-show="orderStatusInServer < 3" ng-click="addAction()">Lisa töö</button>