tellimus nr. {{ order.id }}
<hr>
<table>
    <tr><td><b>Summa kokku: </b></td><td>{{ order.price_total | currency:"&euro;"}}</td></tr>
    <tr><td><b>Kliendi nimi</b></td><td>{{ order.customer_name }}</td></tr>
    <tr><td><b>Loodud</b></td><td>{{ order.created | date:'dd.MM.yyyy kell HH.mm.ss' }}
        ({{ getEmployeeName(order.created_by) }})</td></tr>
    <tr><td><b>Uuendatud</b></td><td>{{ order.updated | date:'dd.MM.yyyy kell HH.mm.ss' }}
        ({{ getEmployeeName(order.updated_by) }})</td></tr>
    <tr><td><b>Staatus muutunud</b></td><td>{{ order.status_changed | date:'dd.MM.yyyy kell HH.mm.ss' }}
        ({{ getEmployeeName(order.status_changed_by) }})</td></tr>
    <tr><td><b>Kliendi kirjeldus</b></td><td>{{ order.service_request.service_desc_by_customer }}</td></tr>
    <tr><td><b>Töötaja kirjeldus</b></td><td>{{ order.service_request.service_desc_by_employee }}</td></tr>
    <tr><td><b>Kommentaar</b></td><td><textarea rows="4" cols="50" ng-model="order.note"/></td></tr>
</table>
<hr>
<actions></actions>
<hr>
<parts></parts>
<hr>
<devices></devices>
<hr>
<notes></notes>
<hr>

Tellimuse staatus:
<select data-ng-options="status.id as status.type_name for status in orderStatusList"
        ng-model="selectedOrderStatus"></select>
<button ng-click="saveChanges()">Salvesta tellimus</button>
<button ng-show="orderStatusInServer <= 3" ng-click="delete()">Kustuta tellimus</button>
<button ng-show="orderStatusInServer==3" ng-click="openInvoiceForm()">Tee arve</button>
{{ message }}
<br>
<hr>
<invoice ng-show="invoiceFormOpen"></invoice>
<br>
<div class="error">{{ errors['status'] }}</div>