Seadmed:<br>
<table class="bordered">
    <tr>
        <th>Nimi</th>
        <th>Tootja</th>
        <th>Mudel</th>
        <th>Vastu võetud</th>
        <th>Välja antud</th>
        <th>Staatus</th>
        <th>Staatus muutunud</th>
    </tr>
    <tr ng-repeat="serviceDevice in order.serviceDevices | orderBy:'id'">
        <td>{{ serviceDevice.device.name }}</td>
        <td>{{ serviceDevice.device.manufacturer }}</td>
        <td>{{ serviceDevice.device.model }}</td>
        <td>{{ serviceDevice.from_store | date: 'dd.MM.yyyy kell HH.mm' }}</td>
        <td>{{ serviceDevice.to_store | date: 'dd.MM.yyyy kell HH.mm' }}</td>
        <td>{{ serviceDevice.status.type_name }}</td>
        <td>{{ serviceDevice.status_changed | date: 'dd.MM.yyyy kell HH.mm' }}</td>
    </tr>
</table>

<button ng-show="orderStatusInServer < 3" ng-click="saveAndManageDevices()">
    Salvesta tellimus ja halda seadmeid</button>
{{ saveAndManageDevicesMessage }}