<table style="width:500px; float: left">
    <h3>Vormista arve</h3>
    <tr>
        <input type="hidden" ng-model="invoice.customer_fk"/>
    </tr>
    <tr>
        <td><b>Saaja:</b></td>
        <td>{{invoice.receiver_name}}</td>
    </tr>
    <tr>
        <td><b>Arve kinnitatud:</b></td>
        <td>{{invoice.invoice_date | date:'dd.MM.yyyy kell HH.mm.ss'}}</td>
    </tr>
    <tr>
        <td><b>Arve makse tähtaeg*:</b></td>
        <td><input type="date" ng-model="invoice.due_date"/></td>
    </tr>
    <tr>
        <td><b>Maksmisele kuuluv summa:</b></td>
        <td>{{ order.price_total | currency:"&euro;"}}</td>
    </tr>
    <tr>
        <td><b>Viitenumber:</b></td>
        <td>{{ order.id}}</td>
    </tr>
    <tr>
        <td><b>Rekvisiidid*:</b></td>
        <td><input type="text" ng-model="invoice.receiver_accounts"/></td>
    </tr>
    <tr>
        <td><b>Kirjeldus:</b></td>
        <td><textarea cols="40" rows="6" ng-model="invoice.description">{{order.note}}</textarea></td>
    </tr>
    <tr>
        <td><button type="button" ng-click="saveInvoice()" ng-hide="invoice.invoiceStatus.invoice_status_type==2">Salvesta arve</button></td>
        <td><button type="button" ng-click="confirmInvoice()" ng-show="invoiceExists && invoice.invoiceStatus.invoice_status_type==1">Kinnita arve</button></td>
    </tr>
</table>

<div style="margin-left: 150px; float: left">
    Vali muu isik, kellele arve koostada:<br>
    <input ng-model="client_name">
    <button type="button" ng-click="searchClient()">Otsi klienti</button>
    <br>
    <div ng-repeat="client in clients">
        {{client.name}} <button type="button" ng-click="chooseClient(client.id, client.name)">Vali</button>
    </div>
</div>