Märkmed:<br>
<table class="bordered">
    <tr>
        <th>Autor</th>
        <th>Loodud</th>
        <th>Kommentaar</th>
    </tr>
    <tr ng-repeat="note in order.notes | orderBy:'id'">
        <td>{{ getNoteAuthor(note) }}</td>
        <td>{{ note.created | date:'dd.MM.yyyy kell HH.mm.ss' }}</td>
        <td>{{ note.note }}</td>
    </tr>
</table>

<button ng-show="showNoteAdd !== true" ng-click="showNoteAdd = true">Lisa teade</button>
<div ng-show="showNoteAdd === true">
    <textarea rows="4" cols="50" ng-model="note"></textarea>
    <button ng-click="addNote()">Lisa</button>
</div>
