Varuosad:<br>
<table class="bordered">
    <tr>
        <th>Seade</th>
        <th>Loodud</th>
        <th>Nimi</th>
        <th>Seerianumber</th>
        <th>Kogus</th>
        <th>Ühik</th>
        <th>Ühiku hind</th>
        <th>Hind kokku</th>
        <th ng-show="orderStatusInServer < 3"></th>
    </tr>
    <tr ng-show="orderStatusInServer < 3" ng-repeat-start="part in order.parts | orderBy:'id'">
        <td><select data-ng-options="serviceDevice.device.device as serviceDevice.device.name
        for serviceDevice in order.serviceDevices"
                    ng-model="part.device.device"></select></td>
        <td>{{getEmployeeName(part.created_by)}}<br>
            {{part.created | date:'dd.MM.yyyy kell HH.mm.ss'}}</td>
        <td><input ng-model="part.part_name"/></td>
        <td>
            <input ng-model="part.serial_no"/>
            <div class="error" ng-show="errors['parts.serial_no']">
                {{ errors['parts.serial_no'] }}
            </div>
        </td>
        <td><input class="numericInput" type="number" ng-model="part.part_count"
                   min="0" max="{{ part.serial_no ? 1 : '' }}"/></td>
        <td>tk.</td>
        <td><input class="numericInput" type="number" min="0" ng-model="part.part_price"/></td>
        <td>{{ part.part_count * part.part_price }}</td>
        <td><button ng-click="deletePart($index)">Kustuta</button></td>
    </tr>
    <tr ng-show="orderStatusInServer >= 3" ng-repeat-end>
        <td>{{ part.device.name }}</td>
        <td>{{getEmployeeName(part.created_by)}}<br>
            {{part.created | date:'dd.MM.yyyy kell HH.mm.ss'}}</td>
        <td>{{ part.part_name }}</td>
        <td>{{ part.serial_no }}</td>
        <td>{{ part.part_count }}</td>
        <td>tk.</td>
        <td>{{ part.part_price }}</td>
        <td>{{ part.part_count * part.part_price }}</td>
    </tr>
</table>
<button ng-show="orderStatusInServer < 3" ng-click="addPart()">Lisa varuosa</button>
