<div>
<form id="serviceRequest" style="float: left; width: 500px" method="POST"
      ng-submit="search()">
    <table class="bordered">
        <tbody>
        <tr>
            <td style="background: lightgrey">Kliendi nimi:</td>
            <td><input type="text" ng-model="query.clientName"/></td>
        </tr>
        <tr>
            <td style="background: lightgrey">Seadme nimi:</td>
            <td><input type="text" ng-model="query.deviceName"/></td>
        </tr>
        <tr>
            <td style="background: lightgrey">Seadme mudel:</td>
            <td><input type="text" ng-model="query.deviceModel"/></td>
        </tr>
        <tr>
            <td style="background: lightgrey">Kommentaar:</td>
            <td><input type="text" ng-model="query.note"/></td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Otsi</button>
</form>
</div>

<div ng-show="orders">
    <h3>Tulemused</h3>
    <table class="bordered">
        <tr>
            <th>Kliendi nimi</th>
            <th>Staatus</th>
            <th>Loodud</th>
            <th>Uuendatud</th>
            <th>Staatus muutunud</th>
            <th>Kommentaar</th>
            <th></th>
        </tr>
        <tbody>
        <tr ng-repeat="order in orders">
            <td>{{ order.customer_name }}</td>
            <td>{{ order.status.type_name }}</td>
            <td>{{ order.created | date }}</td>
            <td>{{ order.updated | date }}</td>
            <td>{{ order.status_changed | date }}</td>
            <td>{{ order.note }}</td>
            <td><button ng-click="open($index)">Ava</button></td>
        </tr>
        </tbody>
    </table>
</div>