<a ng-href="#/detail/{{ orderId }}">Tagasi tellimuse juurde</a><br>
<h3>Seadmed</h3>
Vali seade:
<select data-ng-options="serviceDevice.id as serviceDevice.device.name
        for serviceDevice in list"
        ng-model="selectedServiceDevice"
        ng-change="changeDevice()"></select>
<button ng-click="removeServiceDevice()">Eemalda seade</button>
<button ng-click="showAddDevice()">Lisa seade</button>

<div ng-show="showAddDevice == true">
    <adddevice></adddevice>
    <div class="addeddevices"></div>
    <button ng-click="addDevices()">Salvesta lisatud seadmed</button>
    {{ addDevicesMessage }}
</div>

<div class="error">
    {{ removeSDMessage }}<br>
    {{ errors['remove'] }}
</div>
<br>
<div class="error">{{ errors['status'] }}</div>

<table class="bordered">
    <tr>
        <th>Nimi</th>
        <th>Tootja</th>
        <th>Mudel</th>
        <th>Vastu võetud</th>
        <th>Välja antud</th>
        <th>Staatus</th>
        <th>Staatust muutunud</th>
    </tr>
    <tr>
        <td>{{ sd.device.name }}</td>
        <td>{{ sd.device.manufacturer }}</td>
        <td>{{ sd.device.model }}</td>
        <td><input class="date" type="date" ng-change="fromDateChanged()" ng-model="sd.fromDate">
            <input class="date" type="time" ng-change="fromDateChanged()" ng-model="sd.fromDate"></td>
        <td><input class="date" type="date" ng-change="toDateChanged()" ng-model="sd.toDate">
            <input class="date" type="time" ng-change="toDateChanged()" ng-model="sd.toDate"></td>
        <td><select data-ng-options="status.id as status.type_name for status in statusList"
                    ng-model="selectedStatusId" ng-change="statusUpdated()"></select></td>
        <td>{{ sd.status_changed | date: 'dd.MM.yyyy kell HH.mm' }}</td>
    </tr>
</table><br>

<button ng-click="save()">Salvesta muudatused</button>
{{ message }}<br>

<hr>
<actions></actions><hr>
<parts></parts>
