<div class="adddevice">
    <button onclick="showDeviceSearchForm()">Otsi seadet</button>
    <button onclick="showDeviceAddForm()">Lisa seade</button>
    <div class="deviceSearchForm">
        <form>
            SEADME OTSING
            <table>
                <tr>
                    <td>Nimi:</td>
                    <td><input id="name"/></td>
                </tr>
                <tr>
                    <td>Mudel:</td>
                    <td><input id="model"/></td>
                </tr>
                <tr>
                    <td>Seerianumber:</td>
                    <td><input id="reg_no"/></td>
                </tr>
                <tr>
                    <td>Seadme tüüp:</td>
                    <td><select id="device_type">
                    </select></td>
                </tr>
                <tr>
                    <td>Kliendi nimi:</td>
                    <td><input id="client_name"/></td>
                </tr>
            </table>
            <button type="button" onclick="searchDevice()">Otsi</button>
        </form>
    </div>
    <div class="deviceAddForm">
        LISA SEADE
        <table>
            <tr>
                <td>Nimi*:</td>
                <td><input id="add_name"/></td>
            </tr>
            <tr>
                <td>Mudel*:</td>
                <td><input id="add_model"/></td>
            </tr>
            <tr>
                <td>Tootja*:</td>
                <td><input id="add_manufacturer"/></td>
            </tr>
            <tr>
                <td>Seerianumber*:</td>
                <td><input id="add_reg_no"/></td>
            </tr>
            <tr>
                <td>Kirjeldus:</td>
                <td><input id="add_description"/></td>
            </tr>
            <tr>
                <td>Seadme tüüp:</td>
                <td><select id="add_device_type">
                </select></td>
            </tr>
        </table>
        <button type="button" onclick="addDevice()">Lisa</button>

    </div>
</div>